
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: bisque; */
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.btn{
    background-color: #FD6E0A;
    border-style: none;
    border-radius: 5%;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.span{
    color: #FD6E0A;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    color: #474747;
    font-size: 20px;
}
 
nav li a{
    text-decoration:none ;
    
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    

}